@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

table {
  table-layout: fixed;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  font-family: Arial, sans-serif;
  background-color: #f4f1ec;
  height: 32px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  border-bottom: 1px solid #ccc;
}
nav a {
  font-size: 13px;
  color: black;
  margin-right: 20px;
}

* {
  user-select: none !important;
  -webkit-user-drag: none !important;
}

input, textarea {
  user-select: text !important;
  -webkit-user-drag: auto !important;
}

* {
  cursor: default !important;
}

.cursor-pointer {
  cursor: default !important;
}




